.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node text {
  font: 10px sans-serif;
}
.chart-container {
  overflow: auto;
  height: calc(100vh - 145px);
}
